.Movies-card {
    display: flex;
    flex-direction: column;

    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;

    padding: 1rem;

    a {
        color: white;
    }

    &-overview {
        font-size: small;
        color: #9e9e9e
    }

    &-popularity {
        font-weight: bold;
        color: white;
    }
}

.Movies-list {
    display: flex;
    justify-content: center;

    gap: 1rem;
}